.body-NF {
  margin: 0;
  padding: 0;
  background-color: #0a1821;
  height: 100%;
  width: 100%;
  font-family: Roboto, Arial, sans-serif;
  color: #fff;
  text-align: center;
}
.not-found {
  width: 560px;
  height: 225px;
  margin-right: -10px;
}
.starry-sky {
  display: block;
  width: 100vw;
  height: 97vh;
  object-fit: cover;
}
.search-icon {
  display: inline-block;
}
.notfound-copy {
  color: #fff;
  position: fixed;
  top: 25px;
  right: 10%;
  text-align: right;
}
.h1-NF {
   font-weight: 700;
  font-size: 40px;
}
.a-NF {
  font-weight: 300;
  color: #fff;
  border-bottom: 1.5px solid #5581d4;
  text-decoration: none;
}
.a-NF:hover {
  font-weight: 300;
  color: #fff;
  border-bottom: 2px solid #fff;
  text-decoration: none;
}
/* change to alternating star opacities */
.all-stars {
  animation: blinkblink 7s linear infinite;
}

@keyframes blinkblink {  
  50% { opacity: 0.1; }
}
.mobile-view {
  margin-top: .2rem;
}
  @media (max-width: 647px) { 
    .a-NF {
      font-weight: 700;
      color: rgb(122, 7, 7);
      border-bottom: 1.5px solid #5581d4;
      text-decoration: none;
    }
    .mobile-view {
      margin-top:100px;
    }
  }