
.container-setting{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.container-unit-setting{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.unit-content{
    display: flex;
    align-items: center;
    height: 100%;
}
.icon-text{
    text-align: center;
    margin: 0 4px;
}
.hairline{
    width: 100%;
    height: 0.005rem;
    margin: 13px 0px;
    background-color: #fff;
}

.switchToggle input[type=checkbox]{height: 0; width: 0; visibility: hidden; position: absolute; }
.switchToggle label {cursor: pointer; text-indent: -9999px; width: 70px; max-width: 70px; height: 30px; background: #d1d1d1; display: block; border-radius: 100px; position: relative; }
.switchToggle label:after {content: ''; position: absolute; top: 2px; left: 2px; width: 26px; height: 26px; background: #fff; border-radius: 90px; transition: 0.3s; }
.switchToggle input:checked + label, .switchToggle input:checked + input + label  {background: #3e98d3; }
.switchToggle input + label:before, .switchToggle input + input + label:before {content: '24'; position: absolute; top: 2px; left: 35px; width: 26px; height: 26px; border-radius: 90px; transition: 0.3s; text-indent: 0; color: #000; }
.switchToggle input:checked + label:before, .switchToggle input:checked + input + label:before {content: '12'; position: absolute; top: px; left: 10px; width: 26px; height: 26px; border-radius: 90px; transition: 0.3s; text-indent: 0; color: #fff; }
.switchToggle input:checked + label:after, .switchToggle input:checked + input + label:after {left: calc(100% - 2px); transform: translateX(-100%); }
.switchToggle label:active:after {width: 60px; } 
.toggle-switchArea { margin: 10px 0 10px 0; }